@model baitap2.Models.ShopPet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ShopPet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenPet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenPet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiPet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiPet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TuoiCuaPet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TuoiCuaPet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDPet }) |
    @Html.ActionLink("Back to List", "Index")
</p>
